name: continuous-integration

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "21"
          cache: "gradle"

      - run: gradle --no-daemon --parallel test
      - run: gradle --no-daemon --parallel check
      - run: gradle --no-daemon --parallel build
